*{
    font-family: 'Mukta', sans-serif;
}

.nav-color{
    background-color: rgba(3, 3, 3, 0.673);
}

.height{
    height: 100%;
}

.height-box{
    height: 30%;
}

.footer-color{
    background-color: rgba(3, 3, 3, 0.863);

}

.color{
    color: rgb(223, 103, 5);
}